<section class="flex justify-end w-full mt-24">
    <a href="searchFor" class="mr-6">
    <svg aria-hidden="true" tabindex="-1" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"><circle cx="17" cy="17" r="17" fill="#000"></circle><path fill="#fff" d="M15.75 21.3c1.25 0 2.45-.41 3.43-1.18l3.68 3.68.94-.94-3.68-3.68a5.55 5.55 0 1 0-4.37 2.12Zm0-9.77a4.22 4.22 0 1 1 0 8.44 4.22 4.22 0 0 1 0-8.44Z"></path></svg>
    </a>
</section>